


/* ----------------------- Technologies style start ------------------------*/


.technology-box {
  margin-top: 80px;
}

.techno-fixed-video{
  display: none;
  position: fixed;
  left: 0;
  right: 0;
  top: 0;
  bottom: 0;
  background-color: rgba(0,0,0,0.9);
  z-index: 10000;
  align-items: center;
  justify-content: center;
}
.techno-fixed-video iframe {
  width: 640px;
  height: 360px;
}

.fixed-video-btn {
  position: absolute;
  right: 30px;
  top: 30px;
  z-index: 100000;
  border: none;
  background: none;
  outline: none;
  cursor: pointer;
}
.fixed-video-btn svg {
  width: 25px;
  height: 25px;
  display: block;
}
.fixed-video-btn svg path {
  stroke: #fff;
}
.techno-wrapper {
  margin-top: 50px;
  display: flex;
  flex-wrap: wrap;
  /* align-items: center; */
}
.collapse-list {
  width: 40%;
}
.techno-video-wrapper{
  width: 50%;
  margin-left: auto;
}
.techno-btn {
  cursor: pointer;
  display: inline-block;
  vertical-align: top;
  position: relative;
  margin-top: 100px;
  width: 83.33333333333334%;
  margin-right: auto;
  color: #fff;
  transition: all 0.3s;
}
.techno-btn::after {
  position: absolute;
  content: '';
  width: 100%;
  height: 100%;
  top: -100px;
  right: -20%;
  background: url(./techno-bg.jpg);
  z-index: -1;
}
.techno-btn img{
  width: 100%;
  height: 100%;
}

/* ----------------------- Technologies style end ------------------------*/



/* ----------------------- Technologies media query start ------------------------*/

@media only screen and (max-width: 750px){
  .collapse-list {
    width: 100%;
  }
  .techno-video-wrapper{
    width: 100%;
  }
  .techno-btn::after {
    top: -50px;
  }
}

/* ----------------------- Technologies media query end ------------------------*/